# Dependencies
node_modules/
**/node_modules/
**/venv/

# Build outputs
dist/
build/
*.log

# Environment files
.env
.env.local
.env.*.local

# OS metadata
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Misc
*.bak
*.tmp
